{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}


    <h1> Welcome to the meeting planner </h1>
    <p>
        This is a demo application to practice web develpment
    </p>

    <h2> Meetings </h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}" >
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2> Rooms </h2>
    <a href="{% url 'room' %}"> Rooms </a>
{% endblock %}